/*Styles*/
body{
    background: #fff;
    height: 100%; 
}

.container{
    width: 100%;
    .col-md-2{
        margin: 20px 0 20px 0;
        img{
            outline: 1px solid white;
        }
    }
}

